<div class="banner">

  <div class="header">
    <ul class="nav">
      <li>Menu</li>
      <li>Menu</li>
      <li>Menu</li>
    </ul>
  </div>

  <h1>Ours</h1>
  <h2>Recipe.</h2>

  <div class="button-banner">
    <button></button>
    <button></button>
    <button></button>
  </div>

</div>

<div class="content">
  <h2>Top recette</h2>

  <div class="card-recipe">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-recipe-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-recipe-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-recipe-user avatar-bordered" />
    </div>
  </div>

</div>
